

.border-container {
         border: 1px solid red; 
		 
		 }
		


/*÷¬≈“ » Œ“—“”œ —Õ»«” ƒÀﬂ ¡ÀŒ Œ¬*/
.head-block,.top-menu,.top-material,.left-sidebar,.content{
    background:#FFFACD;
    margin-bottom:1px;
	margin-left:157px;
	margin-right:150px;
}

.head-block{
    height:250px; /*¬€—Œ“¿ ÿ¿œ »*/
    background:url(../images/sapka.jpg)left center no-repeat;
}



.top-menu{
    height:30px;/*¬€—Œ“¿ Ã≈Õﬁ*/
	
}

.top-menu{
    background:#FFD700;
}
.top-menu ul{
    padding-left:0;
    margin-bottom:0;
}
.top-menu li{
    display:inline-block;
    margin-left:100px;
    padding:3px 10px;
}

.top-material{
    height:200px;/*¬€—Œ“¿ ¡ÀŒ ¿ ¬¿∆Õ€≈ Ã¿“≈–»¿À€*/
	
}
/*¬€—Œ“¿ —¿…ƒ¡¿–¿ » ¡ÀŒ ¿  ŒÕ“≈Õ“*/
.left-sidebar,.content{
    height:300px;
}

.content{
    border-left:1px solid #fff;/*√–¿Õ»÷¿ ”  ŒÕ“≈Õ“¿*/
}

    #logo {
    position: absolute;
    top: 300;
    left: 900px;
    height: 216px;
    width: 770px;
    display: block;
    
}
    #slogan {
    position: absolute;
    bottom: 500px;
    left: 1020px;
    height: 60px;
    width: 590px;
    
}
    #textb{
	position: absolute;
	left: 228px;
	top: 155px;
	z-index: 7;
	
	}
    #bocka {
	position: absolute;
	left: 250px;
	top: 90px;
	z-index: 1;
	}
	
	#middle {
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    border: none;
    width: 990px;
}

    table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
	
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#sb {
    width: 239px;
    padding: 0 0 0 35px;
}

#content {
    padding: 20px;
}